<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Footer Fragment</title>
</head>
<body>
    <footer class="footer" th:fragment="footerFragment">
        <!-- Footer content goes here -->
        
           
      
        <ul>
            <li>Put it on Git Hub? with coool vidios explaining how it works and so on or just showcasing it? </li>
        
            <li>come up with cool extra page ideas to add to test my js skills and stuff. </li>
            <li>could add resize image feature</li>
            <li>add vue to front end part of the app for your cool ideas</li>
            <li> cool ideas to add = *Interactive Cat Mascot: Create an interactive cat mascot using Vue.js that appears on different pages. The mascot could offer tips, guide users through the site, or react to user actions (like following the cursor with its eyes).</li>
            <li>hello</li>
            
        </ul>
       <br>
       <br>
       <br>
       <br>
       <br>
    </footer>
</body>
</html>
